// Utilities
@import "../../styles/variables.scss";

.navbox{
    background-color: $main-bg-color;
    position: relative;
    width: 100%;
    padding-top: 2%;
    padding-bottom: -20px;
}

@media screen and (max-width: 992px) {

    .navbox{
        display: none;
    }

}